@font-face {
  font-family: 'overpass-mono';
  src: url('OverpassMono/OverpassMono-Light.woff2') format('woff2');
       font-weight: 300;
       font-style: normal;
}

@font-face {
  font-family: 'overpass-mono';
  src: url('OverpassMono/OverpassMono-Regular.woff2') format('woff2');
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: 'overpass-mono';
  src: url('OverpassMono/OverpassMono-SemiBold.woff2') format('woff2');
       font-weight: 500;
       font-style: normal;
}

@font-face {
  font-family: 'overpass-mono';
  src: url('OverpassMono/OverpassMono-Bold.woff2') format('woff2');
       font-weight: 600;
       font-style: normal;
}
