* {
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: overpass, sans-serif;
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: auto minmax(0, 1fr);
	font-size: 14px;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.5em;
	margin: 0.25em 0;
	box-sizing: border-box;
	border: 0;
	background: var(--bar-bg);
	color: inherit;
	border-radius: .25em;
}

input:disabled {
	color: #ccc;
}

details > summary {
	user-select: none;
	cursor: pointer;
}

details > article {
	padding: .5em;
}

button {
	border: 0;
	border-radius: 0;
	background: none;
}

.primary button {
	background: var(--primary);
	color: var(--text);
}
.secondary button {
	background: var(--secondary);
	color: var(--text);
}
.tertiary button {
	background: var(--tertiary);
	color: var(--text);
}

.nav__heading {
	height: 2em;
	line-height: 2em;
	font-weight: 600;
	padding: 0 0.5em;
	border-radius: 0.25em 0.25em 1em 1em;
}

.nav__subheading {
	height: 1.5em;
	line-height: 1.5em;
	background: #111;
	color: #ccc;
	font-weight: 600;
	padding: 0 0.5em;
}

button.primary, button.secondary, button.tertiary {
	min-width: 2em;
	min-height: 2em;
	margin: .5em;
	border-radius: .25em;
	color: var(--text);
}

button.primary {
	background: var(--primary);
}
button.primary:hover {
	background: var(--primary-focus);
}
button.primary:active {
	background: var(--primary-press);
}

button.secondary {
	background: var(--secondary);
}
button.secondary:hover {
	background: var(--secondary-focus);
}
button.secondary:active {
	background: var(--secondary-press);
}

button.tertiary {
	background: var(--tertiary);
}
button.tertiary:hover {
	background: var(--tertiary-focus);
}
button.tertiary:active {
	background: var(--tertiary-press);
}

details {
	margin: .25em 0;
}

:root {
	--primary: rgb(157, 0, 255);
	--primary-focus: rgb(183, 66, 255);
	--primary-press: rgb(125, 0, 202);
	--secondary: rgb(0, 161, 255);
	--secondary-focus: rgb(74, 189, 255);
	--secondary-press: rgb(0, 122, 192);
	--tertiary: rgb(45, 192, 122);
	--tertiary-focus: rgb(103, 201, 154);
	--tertiary-press: rgb(31, 138, 86);
	--text: rgb(1, 13, 22);
	--overlay-bg: rgb(1, 3, 22);
	--nav-bg: rgb(39, 42, 61);
	--bar-bg: rgb(21, 23, 35);
	--dangerous: rgb(157, 45, 45);
	--dangerous-focus: rgb(180, 73, 73);
	--dangerous-press: rgb(114, 32, 32);
}